{% extends 'base.html' %}

{% block title %}URL shortener{% endblock %}

{% block main %}


<h1>URL SHORTENER</h1>



<form action="your-url", method="POST">
    <label for="url">Website URL</label>
    <input type="url" name='url' value="" required>
    <br>
    <label for="code">Short Name</label>
    <input type="text" name="code" value="" required>
    <br>
    <input type="submit" value="shorten">

</form>


<form action="your-url", method="POST", enctype="multipart/form-data">
    <label for="url">File</label>
    <input type="file" name='file' value="" required>
    <br>
    <label for="code">Short Name</label>
    <input type="text" name="code" value="" required>
    <br>
    <input type="submit" value="shorten">

</form>

{% if codes %}
<h3>Codes that you have created</h3>
<ul>
    {% for code in codes %}
        <a href="{{ url_for('redirect_url', code=code ) }}">
            <li>{{ code }}</li>
        </a>
    {% endfor %}
    
</ul>

{% endif %}


{% endblock %}